*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(244, 247, 247); */
  color: rgb(2, 0, 0);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
 
}

 a{
  color: #d92626;
  text-decoration: none;

 }

 h1{
  text-align: center;
  margin: 1rem;
 }



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
